html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent}img{margin:0;padding:0;border:0;outline:0;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}a:focus{outline:0;text-decoration:none}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}a{text-decoration:none;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;transition:all .5s ease}a:hover{text-decoration:none}::-webkit-input-placeholder{opacity:1}:-moz-placeholder{opacity:1}::-moz-placeholder{opacity:1}:-ms-input-placeholder{opacity:1}*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 16px;
    line-height: 1.428571429;
    color: #14274d;
    background-color: #fff;
	min-width: 320px; overflow-x: hidden;
	-webkit-transition: all 0.3s ease;                  
	-moz-transition: all 0.3s ease;                 
	-o-transition: all 0.3s ease;   
	-ms-transition: all 0.3s ease;          
	transition: all 0.3s ease;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p{margin-bottom: 1rem;}
header {    background-color: #f3f5f7; padding-top: 20px;   }
header p {font-weight: 600}
nav {max-width: 1140px; padding-top: 0!important; padding-bottom: 0!important}

main{    background-color: #f3f5f7;  background-repeat: no-repeat; overflow: hidden; position: relative; padding-right: 15px; padding-left: 15px; padding-bottom: 2rem; padding-top: 2rem; min-height: 70vh}
main:after{content: ""; width: 100%; height: 100%;  background: rgb(255,255,255); z-index: 2;background: linear-gradient(0deg, rgba(243,245,247,0.5) 10%, rgba(243,245,247,1) 100%); display: block; position: absolute; left: 0; right: 0; bottom: 0;}
main:before{content: ""; width: 100%; height: 100%; display: block;position: absolute; left: 0; right: 0; top: 0; bottom: 0;  background-size: cover; opacity: 0.9; z-index: 1; background-position: center 2vh; background-repeat: no-repeat}
main.roof:before{background-image: url("../img/bg-roof.jpg"); background-size: 132% }
main.window:before{background-image: url("../img/bg-window.jpg"); background-size:cover; background-position: -300px center}
main.bathroom:before{background-image: url("../img/bg-bathroom.jpg"); background-size:cover; background-position: center -300px !important}
main.bathroom:after{opacity: 0.7 !important}
main.tubs:before{background-image: url("../img/bg-tubs.jpg"); background-size:cover; background-position: center  !important}
main.tubs:after{opacity: 0.7 !important}
main.solar:before{background-image: url("../img/bg-solar.jpg"); background-size: cover;background-position: center -300px !important }

.headline {text-align: center; max-width: 1400px;}
.headline h2 {font-size: 6vh; margin-bottom: 1rem; font-weight: 700}
.headline h3 {font-size:30px; margin-bottom: 2rem}

.hl-bl{background-image: -webkit-gradient(linear,right top,left top,from(#4e73d1),to(#269bd6));
    background-image: linear-gradient(270deg,#4e73d1,#269bd6);
    color: transparent; -webkit-background-clip: text;background-clip: text;  }






.formSec  {position: relative; z-index: 99;}
/*



.formSec .form{}*/


div.error,.form-error-message {color: red;font-size: 12px;margin-bottom:0;display: none; text-align: center; margin-top: -5px;}
.mxwdth-fl{max-width: initial !important;}

.form {border-radius: 30px; min-height: 200px; position: relative; overflow: hidden}
/*.form{background: #fff;   box-shadow: 0 5px 20px rgb(0 0 0 / 10%); }
*/
.form fieldset:first-of-type { text-align: center;max-width:720px; margin-left: auto; margin-right: auto }
.form fieldset:not(:first-of-type) { display: none; box-shadow: 0 5px 20px rgb(0 0 0 / 10%); background: #fff ; max-width:620px; margin-left: auto; margin-right: auto ; border-radius: 20px;}


.form label{margin-bottom:5px;font-weight: 600;}

.form fieldset{position: relative; padding: 40px 30px; }
.form fieldset:not(#zip-container) .form_box-question{text-align: center}



.form-question{font-size: 1.6rem;margin-bottom: 2rem; font-weight: 600 ; text-align: center}
.form_box-desc {font-size: 1.35rem; font-weight:300; margin-bottom: 2.5rem}






.form_box-question.last{margin-bottom: .8rem; position: relative;}
.form_box-question.last:before{content: ""; width: 30px; height: 30px; display: block; background-repeat: no-repeat;background-size:100%;display: inline-block;margin-left: auto;margin-right: auto;float: none;background-image:url("data:image/svg+xml; utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='55px' height='42px' fill='rgb(68, 197, 144)'><path fill-rule='evenodd'  d='M54.000,5.801 L49.176,0.994 C48.514,0.335 47.709,0.005 46.764,0.005 C45.817,0.005 45.013,0.335 44.351,0.994 L21.079,24.217 L10.649,13.789 C9.987,13.130 9.183,12.800 8.237,12.800 C7.291,12.800 6.486,13.130 5.824,13.789 L1.000,18.596 C0.337,19.256 0.006,20.057 0.006,21.000 C0.006,21.942 0.337,22.744 1.000,23.404 L13.842,36.199 L18.667,41.005 C19.328,41.665 20.133,41.995 21.079,41.995 C22.025,41.995 22.829,41.665 23.491,41.005 L28.316,36.199 L54.000,10.609 C54.662,9.949 54.994,9.148 54.994,8.205 C54.994,7.263 54.662,6.461 54.000,5.801 Z'/></svg>"); background-position: center left; margin-right: 10px; position: relative; bottom: -5px;}

.form_box-question.last+p{font-size: 1.1rem; font-weight: 400;margin-bottom: 2rem;    max-width: 326px;}



.form .form-cont{max-width: 300px; margin-left: auto; margin-right: auto}
.form .form-cont.md{max-width: 400px;}
.form .form-cont.lg{max-width: 500px }



.form .form-control{width: 100%; margin-bottom:15px; height: 60px; line-height:60px;  font-weight: 200 !important;  padding:0 20px;background: #fff; color: black;border-radius: 5px; border:solid 1px #dbdbdb; font-weight: 500!important;}
.form .form-control:active,.form .form-control:focus{ outline: none;border-color: #2a8ae9;box-shadow: 0 0 0 4px #2a8ae92d; }
.form select.form-control{ height: auto!important;  vertical-align: middle; background-size:30px;  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24'  fill='%2314274d' stroke-width='0' stroke-linecap='round' stroke-linejoin='round'><path d='M7,10L12,15L17,10H7Z'/></svg>") !important; -webkit-appearance: none;-moz-appearance: none;appearance: none; background-repeat: no-repeat; background-position: center right 1rem; padding-right: 1.5rem}



.form-action{max-width: 300px;}



.form .form-btn{font-style:normal;font-weight:600;font-size:1.2rem;padding:0 20px;position:relative; -webkit-transition:all .15s linear; -o-transition:all .15s linear; transition:all .15s linear;width:100%;background-color: #307df6 ; border: none;  color: #fff; margin-bottom: 20px;-webkit-border-radius:50px;border-radius: 50px;}
.form .btn-text {height: 47px; line-height: 47px; }
.form .form-btn:hover,.form .form-btn:active,.form .form-btn:focus{ background:#0ba9a6 ; border-color: #0ba9a6 ;}



.radio-btn label {white-space: normal; margin-bottom: 15px;  line-height: 1.3;cursor: pointer;display: table; height: 60px;  width: 100%; background: #fff; position: relative; border:solid 1px #dbdbdb; border-radius: 5px; padding: 0 15px 0 60px; font-weight: 300;transition:all .15s linear;}
.radio-btn label span {display: table-cell;vertical-align: middle; text-align: left;}

.radio-btn label:hover {border-color: #2a8ae9;box-shadow: 0 0 0 4px #2a8ae92d; font-weight: 500}

.radio-btn input:checked~label{border-color: #2a8ae9;box-shadow: 0 0 0 4px #2a8ae92d; font-weight: 500}


.radio-btn label:before {
    content: " "; background-position: center;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    pointer-events: none;
    height: 25px;
    width: 25px;
    transition: all linear .15s;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -12.5px;
    margin-left: 15px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.radio-btn label:hover:before,
.radio-btn input:checked~label:before {
    border:  2px solid #2a8ae9;
    background: #2a8ae9; background-image: url("data:image/svg+xml; utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'><path fill-rule='evenodd'  fill='rgb(255, 255, 255)' d='M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z'/></svg> "); background-size:60%; background-repeat: no-repeat; background-position: center;
	box-shadow: 0 0 0 3px #2a8ae92d , 0 0 0 2px rgba(255,255,255,1) inset;

}











.checkbox label {display: inline-block;padding-left: 26px;position: relative;width: 100%; line-height:20px; cursor: pointer;font-weight: 400 !important}
.checkbox label:before { content:" ";background-color: #fff; border: 1px solid #dcdcdc; pointer-events: none;height:20px;width:20px; -webkit-transition: border ease .15s; -o-transition: border ease .15s; transition: border ease .15s; display: block; position: absolute; left: 0;border-radius:2px; -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .1); box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, .1);}
.checkbox input:checked~label:before {border-color:#b2b9c2; background-color:#b2b9c2; background-image: url("data:image/svg+xml; utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'><path fill-rule='evenodd'  fill='rgb(255, 255, 255)' d='M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z'/></svg> "); background-size: 80%; background-position:  center ; background-repeat: no-repeat;-webkit-box-shadow:inset 0 1px 3px 0 rgba(0,0,0,.1);box-shadow:inset 0 1px 3px 0 rgba(0,0,0,.1);}










.zip_box { box-shadow: 0 5px 20px rgb(0 0 0 / 10%); background: #fff;border-radius: 50px;border: solid 5px #fff;}



.form fieldset:first-of-type .form-control,
.form fieldset:first-of-type .btn-text{line-height: 70px; height: 70px !important;text-align: center; font-size: 1.4rem; position: relative; padding-right: 30px;} 
.form fieldset:first-of-type .btn{background: linear-gradient(90deg,#307df6 0%,#14BBBF 100%),linear-gradient(90deg,#0cd5d1 0%,#0ba9a6 100%); }
.form fieldset:first-of-type .btn:hover{  -webkit-transform: scale3d(0.95, 0.95, 1.01);transform: scale3d(0.95, 0.95, 1.01); }


.form fieldset:first-of-type .btn .btn-text:after{content:" ";background-image: url("data:image/svg+xml; utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'><path fill-rule='evenodd'  fill='%23ffffff'  d='M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z'/></svg> "); background-repeat: no-repeat; background-position:  center right; background-size: 30px; padding-right: 30px; transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; display: block; width: 30px; height: 30px;position: absolute; top: 50%; right: 0; margin-top: -15px; transition:all 0.2s linear;}
.form fieldset:first-of-type .btn:hover  .btn-text:after{transform: translate3d(10px, 0px, 0px);}

.form fieldset:first-of-type .form-cont {max-width: initial !important}
.form fieldset:first-of-type .form-control {border-color: none; border: none; margin-bottom: 0;text-align: center; background-image: url("data:image/svg+xml; utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'><path fill-rule='evenodd'  fill='%23677483' d='M12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5M12,2A7,7 0 0,1 19,9C19,14.25 12,22 12,22C12,22 5,14.25 5,9A7,7 0 0,1 12,2M12,4A5,5 0 0,0 7,9C7,10 7,12 12,18.71C17,12 17,10 17,9A5,5 0 0,0 12,4Z'/></svg> "); background-repeat: no-repeat; background-position:  center left 20px; background-size: 30px; background-color: transparent !important}


.form fieldset:first-of-type .form-control:focus,.form fieldset:first-of-type .form-control:active{box-shadow: none !important;}



.form fieldset:not(:first-of-type) .form-btn{font-size:1.4rem;padding:6px 10px;} 
.form fieldset:not(:first-of-type) .form-question{font-size: 2rem;}













.checkbox input[type=checkbox],
.radio-btn input{margin:0;padding:0;-webkit-appearance:none !important;-moz-appearance:none !important; appearance:none !important;position:absolute;top:0;left: 0;border: none !important;opacity: 0 !important; width: 1px; height: 1px; }



.page-content{padding: 90px 0; }
.page-title{  font-size: 2.5rem;font-weight: 600; color: #11103E; margin-bottom: 3rem; line-height: 1.3; max-width: 600px; margin-left: auto; margin-right: auto}
.page-desc{font-size: 1.2rem; background: #2a8ae914; display: table; margin-left: auto; margin-right: auto; float: none; color: #2a8ae9; font-weight: 600; padding: 10px 20px; border-radius:50px;}

.page-box{padding: 40px 45px; height: 100%; text-align: center; transition: all 0.4s linear; background: #fff;
    -webkit-box-shadow: 0px 30px 60px 0px rgba(38,59,94,0.1);
    box-shadow: 0px 30px 60px 0px rgba(38,59,94,0.1);
    border-radius: 10px; cursor: pointer}
.page-box h3{font-size: 1.4rem;font-weight: 600; margin-bottom: 1rem;}
.page-box svg {max-width: 80px;}
.page-box svg .st0 {color:#073581; stroke-width:3px;}
.page-box svg .st1 {color: #02baeb; stroke-width:3px;}

.page-box:hover{box-shadow: none; transform: scale(105%)}
.page-box p {margin-bottom: 0;}

.page-content.bl{    background-color: #F2F8FF;}


.page-box:hover svg .st1 {  color:#0cd2ce; }
.page-box:hover svg .st0 {  color:#2b88eb;}



[data-step] {position: relative; z-index: 9}
[data-step]:before { color: #02baeb2e; position: absolute; left: 0; right: 0; width: 100%; text-align: center; z-index:-1; font-weight: 700; font-size: 120px; top: 0; line-height: 80px
}


.imgbg{background: url("../img/roofers.jpeg"); background-size: 120%; background-position: left -40vw top; position: relative}
.imgbg.windowbg{background: url("../img/window.jpg");background-size: auto 140%!important ;}
.imgbg.bathroombg{background: url("../img/bathroom.jpg");background-size: auto 100%!important ;}
.imgbg.tubbg{background: url("../img/tubs.jpg");background-size: auto 140%!important ;}
.imgbg.solarbg{background: url("../img/solar.jpg");background-size: auto 140%!important ;}





.imgbg:before{content: ""; position: absolute; left: 0; right: 0; bottom: 0; top: 0; width: 100%; height: 100%; background: red;  background: linear-gradient(90deg, rgba(255,255,255,0.5) 20%, rgba(255,255,255,1) 50%);}







.form-control::-webkit-input-placeholder { color: #14274dc2; font-weight: 400;}
.form-control::-moz-placeholder { color: #14274dc2; font-weight: 400;}
.form-control:-ms-input-placeholder { color: #14274dc2; font-weight: 400;}
.form-control::-ms-input-placeholder { color: #14274dc2; font-weight: 400;}
.form-control::placeholder { color: #14274dc2; font-weight: 400;}
.form-control:-ms-input-placeholder {color: #14274dc2; font-weight: 400;}
.form-control:-ms-input-placeholder { color: #14274dc2; font-weight: 400;}
.form-control::-ms-input-placeholder { color: #14274dc2; font-weight: 400;}





.progress-box{z-index: 99; position: relative;max-width: 530px; margin-left: auto; margin-right: auto; margin-bottom: 2rem}
.progress{       background: #e6e6e6;z-index: 1;  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px inset;  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px inset;  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px inset; margin-bottom: 10px; height: 10px; -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; border-radius: 10px;}
.progress-bar {background: linear-gradient(90deg,#307df6 0%,#14BBBF 100%),linear-gradient(90deg,#0cd5d1 0%,#0ba9a6 100%);  transition: width 1s ease;}

.progress_box h2{text-align: center; font-weight: 700; font-size: 2.4rem;margin-bottom: 0.5rem;}
.progress_box h2 + p {margin-bottom: 1.5rem;text-align: center}
.progress-val{letter-spacing: 2px; font-size: 0.8rem; text-transform: uppercase}

.tcpa,
#tcpa_label {font-size: 12px; color: #000; font-weight: 300; margin-top: 20px; margin-left: auto; margin-right: auto; display: block;text-align: center!important;}


footer { font-size: 14px; line-height: 20px; background: #fff; padding-top: 2rem; padding-bottom: 2rem ; text-align: center; border-top: solid 1px #F2F8FF;}
footer li a {color: #02baeb; }


.sitemenu{min-width: 100% !important; max-width: 100% !important; text-align: center !important; border-bottom: solid 1px #F2F8FF; padding-bottom: 2rem; margin-bottom: 2rem}
.sitecopy{margin-bottom: 20px;}
footer .container {max-width: 1600px;}
.footer-terms {font-size: 12px; margin-bottom: 15px; line-height: 1.3; text-align: center;}


.no-gutter {margin-left: -5px; margin-right: -5px;}
.no-gutter > .col,
.no-gutter > [class*="col-"] {
  padding-right:5px!important;
  padding-left:5px!important;
}





.zip-details{color: #20BF55; transform: translateY(-10px)}
.zip_box.fail{box-shadow: 0 0 0 3px rgb(212 0 0 / 100%);}

.form-error-message span.error,
.zip_error{background-color: #d40000; color: #fff; margin-top: 10px;border-radius: 5px; padding:5px 15px 5px 45px;background-image: url("data:image/svg+xml; utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px'><path fill-rule='evenodd'  fill='%23ffffff'  d='M12,2L1,21H23M12,6L19.53,19H4.47M11,10V14H13V10M11,16V18H13V16'/></svg> "); background-repeat: no-repeat; background-position:  center left 10px; background-size: 24px; }


label.form-error-message {display:none; width: 100%;
     color: red;
    font-size: 12px;
    transform: translateY(-15px);
    background: #fff;
    padding: 5px;text-align: center;
	font-weight: 600;}







.form input[type="text"].form-control.valid{border-color: #20BF55!important;box-shadow: 0 0 0 4px #20BF552d;background-image:url("data:image/svg+xml; utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' fill='%2320BF55'><path fill-rule='evenodd'  d='M12 2C6.5 2 2 6.5 2 12S6.5 22 12 22 22 17.5 22 12 17.5 2 12 2M10 17L5 12L6.41 10.59L10 14.17L17.59 6.58L19 8L10 17Z'/></svg>"); background-position: center right 15px; background-repeat: no-repeat}
.form input.form-control.error{border-color: #d40000!important;box-shadow: 0 0 0 4px #d400002d;background-image:url("data:image/svg+xml; utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24' height='24' fill='%23d40000'><path fill-rule='evenodd'  d='M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M15.59,7L12,10.59L8.41,7L7,8.41L10.59,12L7,15.59L8.41,17L12,13.41L15.59,17L17,15.59L13.41,12L17,8.41L15.59,7Z'/></svg>"); background-position: center right 15px; background-repeat: no-repeat}


.form-error-message{margin-top: 10px;}

.form-desc{margin-bottom: 2rem;}


@media (max-width: 768px) {
	.headline h2 {font-size: calc(4.5vw + 10px)!important;}
	.headline h3 {font-size: calc(3vw + 10px)!important;}
	.navbar img{max-width: 150px;}
	.form-question{font-size: calc(3.125vw + 10px)!important;}
	
	.form fieldset:first-of-type .form-question{font-size: 1rem !important}
	main:before{background-position:center 25vh  !important; background-size: 300%!important;}
	
	.page-title {font-size: 1.5rem}
	
}


@media (min-width: 576px) and  (max-width: 767px) {.form fieldset:first-of-type .btn .btn-text{width: 30px !important; font-size: 0.1px; color: transparent !important;} .p-box{min-width:100%!important}}
	
	
	
 @media (max-width: 576px) {
	 .zip_box,
	 .zip_box.fail {box-shadow: none !important;}
	 .zip_box{background: transparent; border: none; }
	 .zip_box .form-btns {min-width: 100%;}
	 .form fieldset:first-of-type .form-control{background-color: #fff!important;border-radius: 50px !important;box-shadow: 0 5px 20px rgb(0 0 0 / 10%); margin-bottom: 20px !important ; padding-left: 20px !important; font-size: 16px !important; background-position:center left 10px;}
	 
	 .zip_box.fail .form-control{box-shadow: 0 0 0 4px #d400002d!important;} 
	 
	 
	 .p-box .page-box{border-radius: 0px !important;}
	 .p-box:first-of-type .page-box{border-top-left-radius: 20px!important; border-top-right-radius: 20px!important;}
	 .p-box:last-of-type .page-box{border-bottom-left-radius: 20px !important; border-bottom-right-radius: 20px !important;}
	 
	 .imgbg{background-position: center  top; background-size: cover}
	 .imgbg:before {    background: linear-gradient(180deg, rgba(255,255,255,0.5) 20%, rgba(255,255,255,1) 50%);}
	 .imgbg .page-desc{background-color: #fff}
}




.pulse{animation-name:pulse;-webkit-animation-name:pulse;animation-duration:1.5;-webkit-animation-duration:1.5s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;}
@keyframes pulse{0%{transform:scale(0.95);}
50%{transform:scale(1);}
100%{transform:scale(0.95);}
}
@-webkit-keyframes pulse{0%{-webkit-transform:scale(0.95);}
50%{-webkit-transform:scale(1);}
	100%{-webkit-transform:scale(0.95);}
}
